In [1]:
import csv
import pandas as pd

In [15]:
data = pd.read_csv('Data.csv')

In [16]:
data[:20]

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
0,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,3.5,Trader,NaN,Physical Damage Rotting/Decay,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN
1,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,12.5,Farm,NaN,Immaturity Insect Damage Rotting/Decay,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN
2,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,3.5,Retail,NaN,Rotting/Decay Over-Ripening,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN
3,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,3.5,Wholesale,NaN,Physical Damage Rotting/Decay,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN
4,116,Cambodia,NaN,1213.0,Cauliflowers and broccoli,2008,16.4,Whole supply chain,NaN,NaN,588,Survey,Weinberger et al 2008,http://ucce.ucdavis.edu/files/datastore/234-14...,Sourced from Weinberger et al 2008
5,116,Cambodia,NaN,1232.0,Cucumbers and gherkins,2008,19.7,Whole supply chain,NaN,NaN,588,Survey,Weinberger et al 2008,http://ucce.ucdavis.edu/files/datastore/234-14...,Sourced from Weinberger et al 2008
6,116,Cambodia,NaN,1234.0,Tomatoes,2008,24.6,Whole supply chain,NaN,NaN,588,Survey,Weinberger et al 2008,http://ucce.ucdavis.edu/files/datastore/234-14...,NaN
7,116,Cambodia,NaN,1241.9,"Other beans, green",2008,21.8,Whole supply chain,NaN,NaN,588,Survey,Weinberger et al 2008,http://ucce.ucdavis.edu/files/datastore/234-14...,NaN
8,120,Cameroon,NaN,1313.0,Plantains and cooking bananas,2013,35.0,Whole supply chain,NaN,"rough handling, unprotected storage conditions...",NaN,No Data Collection Specified,Cauthen et al. (2013),http://www.mod.gov.tr/Lists/RecentPublications...,NaN
9,143,Central Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,17.0,Farm,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
10,143,Central Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,20.0,Processing,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
11,143,Central Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,10.0,Farm,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
12,143,Central Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,15.0,Wholesale,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
13,143,Central Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,12.0,Households,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
14,145,Western Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,12.0,Households,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
15,145,Western Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,17.0,Farm,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
16,145,Western Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,20.0,Processing,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
17,145,Western Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,10.0,Farm,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
18,145,Western Asia,NaN,1359.9,"Other fruits, n.e.c.",2011,15.0,Wholesale,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically
19,15,Northern Africa,NaN,1359.9,"Other fruits, n.e.c.",2011,10.0,Farm,NaN,NaN,NaN,Modelled Estimates,"FAO (2016), g l o b a l f o o d l o s s e s f ...",NaN,Reference has been generated automatically

In [17]:
data.describe()

          m49_code      cpc_code         year  loss_percentage
count  1898.000000   1898.000000  1898.000000      1898.000000
mean    557.868282   2128.771697  2011.750790        11.601528
std     293.362129   4048.321171     2.831512        11.022011
min      15.000000   1211.000000  2007.000000         0.000000
25%     332.000000   1234.000000  2009.250000         4.500000
50%     635.000000   1311.000000  2011.000000         8.000000
75%     840.000000   1323.000000  2014.000000        15.000000
max     862.000000  21439.040000  2017.000000        65.000000

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   m49_code                1898 non-null   int64
 1   country                 1898 non-null   object
 2   region                  118 non-null    object
 3   cpc_code                1898 non-null   float64
 4   commodity               1898 non-null   object
 5   year                    1898 non-null   int64
 6   loss_percentage         1898 non-null   float64
 7   food_supply_stage       1885 non-null   object
 8   treatment               219 non-null    object
 9   cause_of_loss           338 non-null    object
 10  sample_size             504 non-null    object
 11  method_data_collection  1802 non-null   object
 12  reference               1205 non-null   object
 13  url                     1220 non-null   object
 14  notes                   507 non-null    object
dtypes: float64(2), int64(2), object(11)
memory usage: 222.5+ KB

In [19]:
data = data.drop(["m49_code", "region", "cpc_code", "treatment", "cause_of_loss", "sample_size", 
                  "method_data_collection", "reference", "url","notes"], 
                 axis=1)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            1898 non-null   object
 1   commodity          1898 non-null   object
 2   year               1898 non-null   int64
 3   loss_percentage    1898 non-null   float64
 4   food_supply_stage  1885 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 74.3+ KB

In [21]:
data.head()

,country,commodity,year,loss_percentage,food_supply_stage
0,Cambodia,Tomatoes,2013,3.5,Trader
1,Cambodia,Tomatoes,2013,12.5,Farm
2,Cambodia,Tomatoes,2013,3.5,Retail
3,Cambodia,Tomatoes,2013,3.5,Wholesale
4,Cambodia,Cauliflowers and broccoli,2008,16.4,Whole supply chain

In [22]:
data.to_excel("Data_clean_v2.xlsx")
data.to_csv("Data_clean_v2.csv", index=False)