In [6]:
import pandas as pd
import streamlit as st
import altair as alt

In [21]:
df = pd.read_csv("Data_clean_v2.csv")

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            1898 non-null   object
 1   commodity          1898 non-null   object
 2   year               1898 non-null   int64
 3   loss_percentage    1898 non-null   float64
 4   food_supply_stage  1885 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 74.3+ KB

In [23]:
df = df.rename(columns={"country":"Country", "commodity":"Commodity", "year":"Year", "loss_percentage":"Loss Percentage", "food_supply_stage":"Supply Chain Stage"})

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             1898 non-null   object
 1   Commodity           1898 non-null   object
 2   Year                1898 non-null   int64
 3   Loss Percentage     1898 non-null   float64
 4   Supply Chain Stage  1885 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 74.3+ KB

In [26]:
df.head()

,Country,Commodity,Year,Loss Percentage,Supply Chain Stage
0,Cambodia,Tomatoes,2013,3.5,Trader
1,Cambodia,Tomatoes,2013,12.5,Farm
2,Cambodia,Tomatoes,2013,3.5,Retail
3,Cambodia,Tomatoes,2013,3.5,Wholesale
4,Cambodia,Cauliflowers and broccoli,2008,16.4,Whole supply chain

In [27]:
c = alt.Chart(df).mark_circle().encode(
     x='Supply Chain Stage', y='Year', size='Loss Percentage', color='Loss Percentage', tooltip=['Supply Chain Stage', 'Year', 'Loss Percentage'])

st.altair_chart(c, use_container_width=False)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [29]:
# add df with only 3 columns
df_simple = df[['Supply Chain Stage', 'Year', 'Loss Percentage']]

In [30]:
df_simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Supply Chain Stage  1885 non-null   object
 1   Year                1898 non-null   int64
 2   Loss Percentage     1898 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 44.6+ KB

In [ ]:
hart_data = pd.DataFrame(
     np.random.randn(20, 3),
     columns=['a', 'b', 'c'])

st.area_chart(chart_data)